/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.1em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  border-bottom: 2px solid #3D1211;
}

/* line 29, ../sass/blocks.scss */
.front h2.block-title {
  border-bottom: 1px solid #990000;
  font-size: 125%;
  font-weight: normal;
  padding: 0.5em 0 0.9em;
  margin-bottom: 0.9em;
}

/**
 * @Islandora Blocks
 *
**/
/* line 42, ../sass/blocks.scss */
#block-islandora-solr-simple {
  float: left;
  clear: both;
}

/* line 47, ../sass/blocks.scss */
.user-login {
  float: right;
  clear: right;
}

/* line 52, ../sass/blocks.scss */
.image-block-front, .submit-collection-anon, .submit-collection, .welcome {
  background: #E3E3E3;
  float: right;
  position: relative;
  z-index: 100;
  height: 140px;
  max-width: 360px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

/* line 65, ../sass/blocks.scss */
.welcome h2 {
  color: #3D8396;
  margin: 0.8em 0;
  font-weight: normal;
  font-size: 120%;
}
/* line 71, ../sass/blocks.scss */
.welcome p {
  margin: 0.2em 0;
  line-height: 1.3em;
  color: #424143;
}

/* line 78, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator {
  max-height: 446px;
  float: left;
  width: 99.7%;
}

/* line 85, ../sass/blocks.scss */
#block-views-top-site-searches-block table, #block-views-top-facet-searches-block table {
  width: 100%;
}

/* line 91, ../sass/blocks.scss */
.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
}
/* line 94, ../sass/blocks.scss */
.block-islandora-solr ul li {
  list-style: none;
  border-bottom: 1px solid #eef0ed;
}
/* line 98, ../sass/blocks.scss */
.block-islandora-solr ul li:hover {
  background: #F7F9F6;
}
/* line 103, ../sass/blocks.scss */
.block-islandora-solr h3 {
  margin-bottom: 0;
  color: #5A5B5D;
  font-size: 130%;
  font-weight: normal;
}

/* line 111, ../sass/blocks.scss */
.count {
  color: #888;
}

/* line 115, ../sass/blocks.scss */
.plusminus {
  display: none;
}

/* line 119, ../sass/blocks.scss */
#block-islandora-solr-display-switch {
  float: right;
}

/* line 125, ../sass/blocks.scss */
#block-islandora-solr-display-switch ul li {
  float: left;
}

/* line 132, ../sass/blocks.scss */
.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table, .islandora-solr-display a.display-bookmark {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
  opacity: 0.55;
  filter: alpha(opacity=50);
  transition: all 0.2s ease 0s;
}
/* line 143, ../sass/blocks.scss */
.islandora-solr-display a:hover {
  opacity: 0.85;
  filter: alpha(opacity=50);
}

/* line 150, ../sass/blocks.scss */
.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}
/* line 153, ../sass/blocks.scss */
.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}
/* line 156, ../sass/blocks.scss */
.islandora-solr-display a.display-bookmark {
  background: url("../images/display-bookmark.png") no-repeat scroll left top transparent;
}

/* line 162, ../sass/blocks.scss */
.front .block-menu ul {
  padding: 0;
}
/* line 164, ../sass/blocks.scss */
.front .block-menu ul li {
  list-style: none;
  margin: 0.75em 0;
  line-height: 1.25em;
}

/**
 * @Views Blocks
 *
**/
/* line 178, ../sass/blocks.scss */
.views-responsive-grid .views-column {
  float: left;
  width: 50%;
}

/* line 185, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 188, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 191, ../sass/blocks.scss */
.submit-collection, .submit-collection-anon {
  /* First block created with "Add block" link */
  height: 70px !important;
  background: #990000 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 3.2em;
  float: right;
  margin-bottom: 0;
}
/* line 199, ../sass/blocks.scss */
.submit-collection a, .submit-collection-anon a {
  color: #fff;
  margin-left: 3.2em;
}
/* line 203, ../sass/blocks.scss */
.submit-collection p, .submit-collection-anon p {
  margin: 0;
}

/* @Google Analytics Views */
/* line 210, ../sass/blocks.scss */
#block-views-object-visitors-by-month-block, #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block, .browse-content, #block-views-frontpage-solr-boxes-block-1 {
  padding: 15px;
  background: #E3E3E3;
  min-height: 520px;
  box-shadow: 0 0 2px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 2px 1px rgba(38, 37, 38, 0.3);
}

/* line 218, ../sass/blocks.scss */
#block-views-top-site-searches-block {
  margin: 0;
  font-size: 90%;
}
/* line 222, ../sass/blocks.scss */
#block-views-top-site-searches-block th.views-field-search, #block-views-top-site-searches-block th.views-field-pageviews {
  padding: 0.8em 0;
}

/* line 227, ../sass/blocks.scss */
#block-views-top-facet-searches-block {
  margin: 0;
  font-size: 90%;
}

/* line 235, ../sass/blocks.scss */
.block-google-analytics-reports h3 {
  font-size: 93%;
  color: #424143;
}
/* line 239, ../sass/blocks.scss */
.block-google-analytics-reports ol, .block-google-analytics-reports p {
  font-size: 90%;
}

/* line 244, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block, .browse-content {
  clear: left;
}

/* line 252, ../sass/blocks.scss */
#block-google-analytics-reports-dashboard {
  margin-right: 0 !important;
}

/* Accordion Rotator */
/* line 259, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator h2 {
  font-size: 120%;
  padding: 0 15px;
  font-family: 'News Cycle' !important;
}
/* line 264, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator p {
  font-size: 80%;
  font-weight: normal;
  padding: 0 15px;
  font-family: arial, helvetica, verdana, sans-serif  !important;
  margin: 0;
}

/* Blockify */
/* line 276, ../sass/blocks.scss */
#block-blockify-blockify-logo img {
  width: 75%;
}

/* line 281, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 284, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 287, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 290, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 293, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 296, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 299, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 302, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 305, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 308, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 311, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 314, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 317, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 320, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 323, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 326, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 329, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}
/* line 330, ../sass/blocks.scss */
#block-system-navigation ul {
  padding-left: 0;
}

/* line 335, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 338, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 341, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 344, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 347, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 350, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 353, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
*/
/* line 360, ../sass/blocks.scss */
#block-widgets-s-socialmedia-share-default {
  float: right;
}
/* line 363, ../sass/blocks.scss */
#block-widgets-s-socialmedia-share-default .widgets-element img {
  width: 85%;
}
