/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

#islandora-bookmark ul{
  margin-left: 1.5em;
}

#islandora-bookmark-detailed-form > div .list-links {
  display: none;
}

#islandora-compound-sequence-position, #islandora-compound-previous-link, #islandora-compound-next-link {
  margin-bottom: 0 !important;
  height: 2.05em;
}

.islandora-object-description-thumbnail
{
  margin-top: 1em;
  float:right;
}

.jwplayer{
   max-width: 100%;
 }
.form-item.form-type-select.form-item-collections {
  max-width: 100%;
}
.form-item-collections > select {
  max-width: 100%;
}
/*  Textfield corrections */
#edit-islandora-simple-search-query {
  text-transform: none;
}
 
.item-list > ul {
  padding-left: 0;
}

#content > article{
  overflow: hidden;
}

.islandora-inline-metadata > dl {
  width:100%;
  overflow:hidden;

}

.galleria-info{
  max-height: 30px;
  overflow:hidden;
}

.views-column {
  min-height: 10em;
}

.views-responsive-grid .views-row {
  float: left;
}

.featured-thumb {
  max-height: 5em;
  max-width: 5em;
  min-height: 5em;
  min-width: 5em;
}

#name-and-slogan{
  display: none;
}

#logo{
  max-width: 600px;
  height: auto;
}

#edit-collection-select{
  white-space: nowrap !important;
}

.islandora-inline-metadata dd {
  padding-left: 60px !important;
}

.sub-header-style{
  background-color: #F2F2F2;
  clear: left;
  float: left;
  height: auto;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #footer .responsive-menus .responsive-menus-simple .rm-removed li:nth-child(3){
    background-image: none !important;
  }
  #content{
    overflow-y: auto !important;
  }
}

#footer .footer-navigation .menu li:nth-child(3) a {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 80px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: -9999px;
  width: 100%;
}

.browse-all-collections-item-wrapper {
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 1.5em;
}

#header{
  padding-left: 0px;
  padding-right: 0px;
}

#print_btn{
  display:none;
}

ul li a.img{
  display:none;
}
#block-menu-menu-login .menu{
  margin-right: 1em;
  line-height: 1.25em;
  list-style: none outside none;
  margin: 0.75em 0;
  
}
.galleria-container{
  margin: auto;
}

.browse-all-collections-item-wrapper a:link{
  text-decoration:underline;
}

.browse-all-collections-item-wrapper{
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.6em;
}

.browse-all-collections-image-wrapper{
  max-width: 13%;
  height:auto;
  float: left;
  width: 13%;
}

.browse-all-collections-content-wrapper{
  width: 82%;
  float: left;
}

.browse-all-collections-info-description{
  height: 78%;
}
.browse-all-collections-info-wrapper{
  height: 65%;
  padding-left: 1.5em;
}

.browse-all-collections-links-wrapper{
  padding-left: 1.5em;
  padding-top: 1.5em;
}

.view-collections ul{
  list-style-type: none;
  float: left;
  width: 100%;
}

.views-label{
  font-weight: bold;
}

#browse-all-collections-info-wrapper-title-label{
  font-weight: bold;
}

/* line 16, ../sass/pages.scss */
html {
  height: 100%;
}

/*
 * Body
 */
/* line 20, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #FFF;
  background: url('../images/bg.png?1413466539') repeat scroll 0 0 #222222;
  font-weight: normal;
  min-height: 100%;
}

/* line 31, ../sass/pages.scss */
#page {
  background: #FFF;
}

/* line 35, ../sass/pages.scss */
#page-title {
  background: none !important;
  font-weight: normal;
  padding-bottom: 1em;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 45, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 47, ../sass/pages.scss */
#skip-link a, #skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}
.metro-sub-navigation-block>ul {
  padding-left: 0px !important;
}
/*
 * Searching
 */
/* line 61, ../sass/pages.scss */
.islandora-solr-search-result {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f9f6;
  box-shadow: 0 3px 3px -3px #808184;
}

/* line 68, ../sass/pages.scss */
.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
}

/* line 71, ../sass/pages.scss */
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

/* line 77, ../sass/pages.scss */
dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

/*
 * Header
 */

/* line 95, ../sass/pages.scss */
#logo {
  float: left;
  max-width: 100%;
  /* LTR */
  margin: 1.25em 0 1em;
  padding: 0;
}

/* line 101, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  padding: 2.75em 0.5em;
}

/* line 106, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 200%;
  text-transform: uppercase;
  color: #00476C;
}
/* line 112, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #5A5B5D;
  text-decoration: none;
}
/* line 118, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 123, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 100%;
  color: #8B8D90;
  font-weight: normal;
}

/* line 130, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * Main (container for everything else)
 */
/* line 137, ../sass/pages.scss */
#main {
  background: none !important;
}

/*
 * Content
 */
/* line 145, ../sass/pages.scss */
#content {
  background: url("../images/bg.png?1395077337") repeat scroll 0 0 #efefef;
  padding: 1em;
  overflow: hidden;
}

/* line 151, ../sass/pages.scss */
.front #content {
  background: none;
  box-shadow: none;
}

/* line 159, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 20px;
}
/* line 164, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 168, ../sass/pages.scss */
.breadcrumb li {
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  list-style-type: none;
  margin: 5px 0;
  padding: 2px 5px 4px;
}
/* line 175, ../sass/pages.scss */
.breadcrumb li a:hover {
  color: #888;
}
/* line 179, ../sass/pages.scss */
.breadcrumb li:hover {
  background: #F7F9F6;
}
/* line 182, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px;
  top: 4px;
}
/* line 186, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a {
  color: #222;
}
/* line 189, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a:hover {
  color: red;
}

/* line 200, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  color: #424143 !important;
}

/* line 205, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 209, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 213, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 216, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 222, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 226, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 231, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 234, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 238, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 242, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 245, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 248, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 251, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 254, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 258, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 264, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 268, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 271, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 276, ../sass/pages.scss */
ul.pager li.pager-current {
  background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #B29D6B;
  color: #5A5B5D;
}

/* line 282, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 285, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* line 288, ../sass/pages.scss */
#google-pdf-viewer {
  padding-top: 1.5em;
}

/* line 292, ../sass/pages.scss */
.islandora-pdf-link {
  float: right;
}

#clip > img {
  padding-top: 15px;
}

.responsive-menus.responsified {
  padding-bottom: 5px;
}

/* line 297, ../sass/pages.scss */
.islandora-pdf-sidebar ul {
  padding: 0 1em;
}

/* line 302, ../sass/pages.scss */
.islandora-video-content, .islandora-basic-image-content, .islandora-audio-content {
  width: auto !important;
}

/* line 308, ../sass/pages.scss */
#islandora-bookmark #islandora-bookmark-fedora-repository-object-form h3 {
  color: #000 !important;
}

/* line 314, ../sass/pages.scss */
#islandora-solr-top {
  min-height: 45px;
}
/* line 316, ../sass/pages.scss */
#islandora-solr-top #secondary-display-profiles {
  margin-top: -2px;
  margin-right: 5px;
  padding-right: 0.4em;
}

/* line 327, ../sass/pages.scss */
fieldset.islandora-metadata {
  border: 0 none;
}
/* line 329, ../sass/pages.scss */
fieldset.islandora-metadata dt {
  text-align: left;
}

/* line 335, ../sass/pages.scss */
.ir_citationCModel .citation {
  display: block;
  margin-bottom: 1.5em;
}
/* line 339, ../sass/pages.scss */
.ir_citationCModel img {
  background-color: #F2F2F2;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 15px;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 354, ../sass/pages.scss */
.region-sidebar-first {
  font-size: 80%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 372, ../sass/pages.scss */
#footer {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #00476c;
}

/* line 377, ../sass/pages.scss */
.not-front #footer {
  margin-top: 0 !important;
}

/*
 * Page bottom
 */
/* line 385, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

#navigation {
background:#F2F2F2;
}

.overlay #page {
padding: 0 0 0 0 !important;
}

